body {
  background: #cdaa66; }

/* Center the content */
#content, #clock {
  margin: 0 auto; }

#content {
  width: 100%;
  max-width: 600px; }

/* Counter */
.circle, .clock__container::before, .clock__inner, .clock__inner::before, .clock__inner::after, .clock__subclock, .clock__subclock::before, .clock__mainClock .clock__pointerBg,
.clock__subclock .clock__pointerBg {
  border-radius: 100%; }

.absolutely_centered, .clock__container::before, .clock__inner, .clock__inner::before, .clock__subclock::before, .clock__mainClock {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.clock {
  /* Enable scaling 1:1 */ }
  .clock__container {
    background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%), radial-gradient(#fff 0%, #fff 68.7%, #bcbcbc 68.9%, #bcbcbc 69.7%, #bcbcbc 78.5%, #bcbcbc 78.6%, #aaa 100%);
    border: 0;
    border-radius: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    position: relative;
    transform: scale(1); }
    .clock__container::before {
      content: '';
      display: block;
      width: 91.5%;
      height: 91.5%;
      background: linear-gradient(to bottom, #d5d5d5 0%, #f0f0f0 100%); }
    .clock__container::after {
      content: '';
      display: block;
      padding-top: 100%; }
  .clock__outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .clock__inner {
    background: #151515;
    width: 89%;
    height: 89%;
    overflow: hidden; }
    .clock__inner::before {
      content: '';
      display: block;
      background: radial-gradient(circle at top center, rgba(68, 68, 68, 0.3) 0%, rgba(68, 68, 68, 0) 100%), radial-gradient(rgba(17, 17, 17, 0) 58%, rgba(34, 34, 34, 0.7) 60%, rgba(17, 17, 17, 0) 61%);
      box-shadow: inset 0 0 3px rgba(125, 125, 125, 0.2);
      width: 90%;
      height: 90%; }
    .clock__inner::after {
      content: '';
      display: block;
      background: radial-gradient(rgba(102, 102, 102, 0.8) 0%, rgba(17, 17, 17, 0.4) 75%, rgba(0, 0, 0, 0.3) 100%), radial-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 265%) scale(5.4);
      z-index: 0;
      opacity: 1; }
  .clock__subclock {
    width: 42.5%;
    height: 42.5%;
    border: 4px solid #303030;
    position: absolute;
    bottom: -5%;
    z-index: 100; }
    .clock__subclock::before {
      content: '';
      display: block;
      border-radius: 100%;
      width: 95%;
      height: 95%;
      box-shadow: inset -2px 2px 30px #000; }
    .clock__subclock--left {
      left: 0; }
      .clock__subclock--left::before {
        background: linear-gradient(to left, #282828 0%, #0c0c0c 100%); }
    .clock__subclock--right {
      right: 0; }
      .clock__subclock--right::before {
        background: linear-gradient(to right, #282828 0%, #0c0c0c 100%); }
  .clock__mainClock {
    width: 75%;
    height: 75%;
    z-index: 100;
    margin-top: 10%; }
  .clock__mainClock .clock__pointerBg {
    width: 22%;
    height: 22%;
    background: radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle at 5% 70%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 12%, transparent 45%), radial-gradient(circle at 120% 40%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 10%, transparent 45%), radial-gradient(rgba(200, 200, 200, 0) 0%, rgba(200, 200, 200, 0) 60%, rgba(200, 200, 200, 0.5) 65%), radial-gradient(#c5c5c5 0%, #f0f0f0 100%); }
  .clock__mainClock .clock__pointerBg,
  .clock__subclock .clock__pointerBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .clock__mainClock .clock__pointerBg::after,
    .clock__subclock .clock__pointerBg::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%; }
  .clock__mainClock .clock__pointerBg {
    box-shadow: 2px 4px 13px #000000; }
    .clock__mainClock .clock__pointerBg::after {
      background: radial-gradient(circle at 16% 52.5%, rgba(255, 255, 255, 0.5) 0%, transparent 4%), radial-gradient(circle at 16% 55%, rgba(255, 255, 255, 0.8) 0%, transparent 9%), radial-gradient(circle at 16% 51%, #000000 0%, #404040 7%, transparent 8%), radial-gradient(circle at 38% 21.5%, rgba(255, 255, 255, 0.5) 0%, transparent 4%), radial-gradient(circle at 38% 24%, rgba(255, 255, 255, 0.8) 0%, transparent 9%), radial-gradient(circle at 38% 20%, #000000 0%, #404040 7%, transparent 8%), radial-gradient(circle at 74% 32.5%, rgba(255, 255, 255, 0.5) 0%, transparent 4%), radial-gradient(circle at 74% 35%, rgba(255, 255, 255, 0.8) 0%, transparent 9%), radial-gradient(circle at 74% 31%, #000000 0%, #404040 7%, transparent 8%), radial-gradient(circle at 76% 74.5%, rgba(255, 255, 255, 0.5) 0%, transparent 4%), radial-gradient(circle at 76% 77%, rgba(255, 255, 255, 0.8) 0%, transparent 9%), radial-gradient(circle at 76% 73%, #000000 0%, #404040 7%, transparent 8%), radial-gradient(circle at 38% 82.5%, rgba(255, 255, 255, 0.5) 0%, transparent 4%), radial-gradient(circle at 38% 85%, rgba(255, 255, 255, 0.8) 0%, transparent 9%), radial-gradient(circle at 38% 81%, #000000 0%, #404040 7%, transparent 8%); }
  .clock__subclock .clock__pointerBg {
    width: 25%;
    height: 23.5%;
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.4);
    background: radial-gradient(circle at 15% center, #c8c8d2 0%, transparent 20%, transparent 35%), radial-gradient(circle at 85% center, #c8c8d2 0%, transparent 20%, transparent 35%), radial-gradient(circle at 48% 60%, white 5%, transparent 29%), radial-gradient(#000000 0%, #202020 18%, #eff6ef 25%, #eff6ef 58%, #000000 100%); }
  .clock__pointer {
    background: #f00;
    box-shadow: 0 0 55px rgba(255, 0, 0, 0.8);
    transform-origin: bottom center;
    transition: transform 0.65s ease-out;
    position: relative;
    margin-left: 49%;
    /* 50% - width */
    width: 2%;
    position: relative; }
    .clock__pointer::before {
      content: '';
      display: block;
      padding-top: 2600%;
      /* adjust this if you change the thickness (width) of the pointer; generally: width% * 2500 */ }
